
.slick-dots {
    bottom: 10px; 
  }
  
  .slick-dots li {
    width: 2rem; 
  }
  
  .slick-dots li button {
    width: 2rem; 
    height: 1.2rem; 
    border-radius: 3px; 
    background-color: hsla(267, 84%, 81%, 0.904); 
  }
  
  .slick-dots li.slick-active button {
    background-color: hsl(266, 42%, 47%); 
  }

.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
  color: hsl(266, 42%, 47%);
}
