html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: white;
  color: hsla(0, 0%, 0%, 0.822);
  font-size: 16px;
  line-height: 1.2;
  height: 100%;
  width: 100%;
  background-image: url("./components/assets/purple-fade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position: center;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  background-color: hsla(0, 0%, 100%, .7);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  transition: background-color .2s, color .2s;
}

.page-padding {
  padding-right: 30px;
  padding-left: 30px;
}

.container {
  width: 100%;
  max-width: 75em;
  margin-right: auto;
  margin-left: auto;
}

.nav-inner {
  position: relative;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  justify-content: space-between;
  align-items: center;
  transition: border-color .2s;
}

a{  
  text-decoration: none;
  color:black;
}

.nav-logo {
  position: relative;
  left: 0;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 102;
  padding: 6px 6px;
  font-size: 20px;
  font-weight: 500; 
  color: hsl(266, 42%, 47%);
  transition: background-color 0.3s ease;
  border-radius: 10px ;
  cursor: pointer;
}

.nav-logo:hover {
  color: hsl(266, 42%, 37%);
}

.nav-logo-layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1.5em
}

.nav-logo-icon{
  width: 3em;
  cursor: pointer;
  padding: 0.2em;
}

.nav-toggle {
  color: #687076;
  cursor: pointer;
  margin: 0;
  transition: background-color 0.3s ease;
  border-radius: 10px ;
}

.nav-burger-icon {
  margin-top: 1px;
  width: 2em;
}

.nav-burger-icon.x{
  width: 1.5em;
}

.nav-burger-menu {
  position: absolute;  
  top: 64px;
  left: -2.5em;
  width: 103vw;
  max-width: 103vw;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(0.36em);
  transition: all 0.3s cubic-bezier(0,0,0.58,1);  
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  text-align: center;
}

.nav-burger-menu > a {
  display: block;
  padding: 1em;
}

.nav-burger-menu.show {
  opacity: 1;
  transform: translateY(0.36em);
  visibility: visible;
}

.nav-burger-menu.show > a {
  display: block;
  padding: 1em;
}

.nav-toggle:hover {
  background: hsla(267, 84%, 71%, 0.226);
}

.nav-menu {
  display: flex;
  gap: 1em;
}

.nav-link {
  position: relative;
  z-index: 102;
  padding: 8px 8px 8px 8px;
  color: #687076;
  text-decoration: none;
  transition: color 0.3s ease;  
  font-weight: 500;
  border-radius: 10px ;
}

.nav-link:hover {
  color:hsl(206, 6%, 14%);
  background-color: #0000002d;
  box-shadow: 0 2px 8px #0000008a;
}

.nav-burger-menu.show .nav-link:hover {
  color:hsl(206, 6%, 24%);  
  background-color: #0000002d;
  box-shadow: 0 2px 8px #0000008a;
}

.home-hero {
  position: relative;
}

.home-hero-header {
  display: flex;
  min-height: 100vh;
  padding-bottom: 8em;
  padding-top: 3em;
  gap: 3em;
  justify-content: center;
  align-items:center;
  text-align: justify;
}

.text {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.home-hero-subheader.text {  
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition-delay: 0.3s;
}

.text.visible {
  opacity: 1;
  transform: translateX(0);
}

.home-hero-heading-masked-text {
  font-size: 1em;
  font-weight: bold;
  background: url('./components/assets/purple-fade2.jpg') no-repeat center center;
  background-size: cover;
  background-clip:content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-hero-heading {
  padding: 0em 0em 0em 0.5em;
  font-size: 5em;
  margin-bottom: 0;
  font-family:'Inter Display', sans-serif;
  text-align: left;
}

.home-hero-title{
  padding: 0em 1.6em;
}

.home-hero-subheader {
  font-size: 20px;
  max-width: 580px;
  line-height: 1.5em;  
  padding: 0em 1em;  
  background: hsla(0, 0%, 100%, .7);
  background-size: cover;
  background-clip:content-box;
  border-radius: 10px;
}

.home-hero-subheader-message{
  padding: 1em;
}

.home-pic-wrap{
  position: relative;
  display: inline-block;
}

.home-pic-glasses{
  position: absolute;
  top: 35%; 
  left: 45%;
  transform: translate(-50%, -50%);
  width: 10%; 
  pointer-events: none; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;
  transform: translateX(-100px);
}

.home-pic-glasses.visible {
  opacity: 1;  
  transform: translateX(0);
}

.home-pic-laptop{
  position: absolute;
  top: 10%;
  left: -9%;
  transform: translate(-50%, -50%);
  width: 28%;
  pointer-events: none; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;
  transform: translateY(-100px);
}

.home-pic-laptop.visible{
  opacity: 1;  
  transform: translateY(0);
}

.home-pic-server{
  position: absolute;
  top: 72%;
  left: 71%;
  transform: translate(-50%, -50%);
  width: 28%;
  pointer-events: none; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;
  transform: translateY(-100px);
}

.home-pic-server.visible{
  opacity: 1;  
  transform: translateY(0);
}

.home-pic {
  display: block;
  height: auto;
  width: 28em;
  border-radius: 10px;
  box-shadow: 0 2px 8px #0000008a;
}

.about-section{
  background: url('./components/assets/purple-fade.jpg')
}

.experience-section{
  background: url('./components/assets/purple-fade.jpg')
}

.projects-section{
  background: url('./components/assets/purple-fade.jpg')
}

.contacts-section{
  background: url('./components/assets/purple-fade.jpg')
}

.section {
  padding-top: 6em;
  padding-bottom: 6em;
  min-height: 80vh;
  width: 100%;
}

.section-header {
  position: relative;
  width: 100%;
  max-width: 31em;
  margin-top: 3.5em;
  margin-right: auto;
  margin-bottom: 3.5em;
  margin-left: auto;
  text-align: center;
}

.left-aligned-text{
  text-align: left;
}

.flex {
  display: flex;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: center;
}

.block {
  display: block;
}

.section-content {
  position: relative;
  height: 100%;
  margin-bottom: 45px;
  justify-content: center;
  text-align:justify;
  line-height: 2em;
}

.about-pic{
  display: block;
  height: auto;
  width: 28em;
  border-radius: 10px;
  box-shadow: 0 2px 8px #0000008a;
}

.about-pic-message{  
  font-size: 20px;
  max-width: 100vw;
  line-height: 1.5em;  
  background: hsla(0, 0%, 100%, .7);
  background-size: cover;
  background-clip:content-box;
  border-radius: 10px;
}

.about-pic-achievements{  
  font-size: 20px;
  margin-right: 4em;
  margin-left: 4em;
  line-height: 1.5em;  
  background: hsla(0, 0%, 100%, .7);
  background-size: cover;
  background-clip:content-box;
  border-radius: 10px;
}

.about-message-scroll{
  overflow-y: auto;
  max-height: 25em;
}

.about-pic-message-padding{
  padding: 1em;
}

.about-pic-list-title{
  position: sticky;
  overflow: hidden;
  top: 0;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background: hsl(0, 0%, 100%);
}

.about-pic-list-topic{
  padding: 0em 2em;
}

.about-pic-list{
  padding: 0em 3em;
  text-align: left;
}

.about-content-row-direction{
  flex-direction: column;
  justify-content: space-around;
  row-gap: 2em;
}

.about-column-gap {
  column-gap: 2em;
  justify-content: center;
  margin: 0em 1em;
}

.about-margin {
  margin-left: 6em;
  margin-right: 6em;    
}

.experience-work{   
  max-width: 40em;
  width: 100%;
  line-height: 1.5em;
  /* padding: 2em;  */
  background: hsla(0, 0%, 100%, .7);;
  background-size: cover;
  background-clip:content-box;
  border-radius: 10px;
}

.experience-work-layout{
  padding: 2em;
}

.experience-work-font-size{
  font-size: 1em;
}

.icon-wrap {
  flex-wrap: wrap;
}

.exp-column-gap {
  gap: 2em;
}

.exp-flex-layout{
  flex-direction: column;
  align-items: center;
}

.exp-margin {
  margin-left: 6em;
  margin-right: 6em; 
}

.h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -.03em;
}

.skills-section {
  width: 100%;  
  padding-left: 15px;
  padding-right: 15px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  visibility: visible;
}

.skills-icon {
  height: 120px;
  width: 7em;
}

.skills-icon #\38 {
  margin-top: 30%;
}

.exp-img-responsive {
  display:block;
  max-width: 100%;
  width: 7em;
  height: auto;
  filter: grayscale(100%);  
  transition: filter 0.5s ease;
}

.exp-img-responsive.hovered,
.exp-img-responsive:hover {
  filter: grayscale(0%);
}

.projects-container{  
  width: 100%;
  max-width: 140em;
  margin-right: auto;
  margin-left: auto;
}

.projects-margin{  
  margin-left: 3em;
  margin-right: 3em; 
}

.modal-spacing {
  margin: 10em;
}

.no-scroll {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 2000;
  opacity: 0; 
  border-radius: 10px;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; 
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-layout{
  position: absolute;
  top: 1vh;
}

.modal-content {
  position: relative;
  background: white;
  padding-bottom: 2rem;  
  border-radius: 10px;
  transform: scale(0.8); 
  transition: transform 0.5s ease-in-out;
  margin-bottom: 2em;  
  max-width: 85vw;
}

.modal-content.show {
  transform: scale(1); 
}

.modal-header{
  width: 10em;
  margin: 1em;
}

.modal-body{
  max-width: 80vw;
  margin: 1em;
}

.modal-footer{
margin: 1em;
}

.modal-image {
  max-width: 100%;
  height: auto;
  width: 35em;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0,0,0.58,1);  
}

.modal-close:hover {
  background-color: hsla(0, 84%, 57%, 0.801);
}

.modal-title {
  text-align: center;
  font-size: 2.5vh;
}

.modal-message{
  text-align: center;
  padding: 0 4vw;
  font-size: 2vw;
  line-height: 1.5em;
  text-align: justify;
}

.carousel-image {
  width: 100%;
  height: auto;
  margin: auto;
}

.project-img-responsive {
  width: 100%;
  height: auto;    
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.4vw;
  line-height: 2em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 49%;
}

.image-container:hover .project-img-responsive {
  filter: brightness(25%);
}

.image-container:hover .image-title {
  opacity: 1;
}

img#login.carousel-image{
  width: 45vw;
  margin: auto;
}

.contact-margin{
  margin: 0em 6em;
}

.contact-layout {
  display: flex;
  justify-content: center;
  gap:2em
}

.form-layout {
  background: hsla(0, 0%, 100%, .7);;  
  max-width: 35em;
  border-radius: 10px;
  flex: 1;
  border: 1px solid;
  box-shadow: 5px 10px 18px #888888;
}

.form-message {  
  font-size:1.25em;
  line-height: 1.5em;
  margin: 1em;
}

.form-email-layout{
  display: flex;
  gap: 1em;
}

.form-email-write-msg{
  text-align: left;
}

.email-layout {
  display: flex;
  gap: 5px;
  align-items: center;
}

.email-field-layout {
  gap: 9px;
}

.email-textfield {  
  padding-bottom: 0.5em;
}

.textfield {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

.textfield.textarea{
  resize: vertical;
  width: 100%;
  min-height: 8em;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

.submit-button{
  padding: 10px 20px; 
  background-color: hsla(267, 72%, 37%, 0.781);
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
  cursor: pointer;
}

.submit-button:hover{
  background-color: hsla(267, 72%, 52%);
}

.resume-layout{  
  max-width: 20em;
  border-radius: 10px; 
  max-height: 28em; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./components/assets/laptop.jpg");  
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

.resume-blur{
  background: rgba(255, 255, 255, 0.2); /* A semi-transparent background color */
  backdrop-filter: blur(10px); /* Blurs the background */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  border-radius: 10px; 
  box-shadow: 5px 10px 18px #888888;
}

.resume-message {  
  font-size:1em;
  text-align: center;
  line-height: 1.5em;
  margin: 3em;
}

.resume-button{
  padding: 10px 20px; 
  background-color: hsla(267, 72%, 37%, 0.781);
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-style:outset;
  border-color: rgba(0, 0, 0, 0.459);
}

.resume-button:hover{
  background-color: hsla(267, 72%, 52%);
}

.footer-blur{  
  background-color: hsla(0, 0%, 100%, 0.568);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.footer-content{
  flex-direction: column;
  justify-content: space-between;  
}

.footer-space{
  justify-content: center;
  align-items: baseline;
  text-align: center;  
}

.footer-icons{
  justify-content: center;
  align-items:baseline;
  gap: 1em;
}

.footer-icon-size{
  margin-top: 0.3em;
  width: 1.5em;;
  padding: 0.5em;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.footer-icon-size:hover{ 
  background-color: #0000002d;
  box-shadow: 0 2px 8px #0000008a;
}

.footer-credits{
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;  
  font-size: 1em;
}


@media (width <= 1176px){
  .about-column-gap {
    column-gap: 2em;
    justify-content: space-between;
    align-items: center;
  }
  .about-margin {
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .about-pic {
    width: 17em;
  } 
}

@media (width <= 1279px){
  .home-hero-heading{
    padding: 0;
  }
  .home-hero-title {
    padding: 0;
  }
  .home-hero-subheader{
    padding: 0;
  }
}

@media (width <= 1195px){  
  .home-hero-heading{
    font-size: 4em;
  }
}

@media (width <= 1188px){
  .contact-margin{
    margin: 0em 0em;
  }
}

@media (width <= 1152px){
  .exp-margin{
    margin: 0em 2em;
  }
}

@media (width <= 1101px){
  .home-hero-subheader {
    font-size: 18px;
  }
}

@media (width <= 1051px){
  .home-hero-header{
    padding-top: 3em;
    gap: 2em;
  }
  .home-hero-heading{
    font-size: 3em;
  }
}

@media (width <= 1009px){
  .about-pic-message {
    font-size: 18px;
  }
  .about-pic-achievements {
    font-size: 18px;
  }
}

@media (width <= 975px){
  .projects-margin{
    margin: 0em 1em;
  }
  .image-container{
    width: 45%;
  }
}

@media (width <= 983px){  
  .home-pic {
    margin-top: 1px;
    width: 25em;
  }
  .home-hero-subheader{
    font-size: 18px;
  }
}

@media (width <= 929px){  
  .home-pic {
    margin-top: 1px;
    width: 25em;
  }
}

@media (width <= 896px){  
  .about-pic-message {
    font-size: 15px;
  }
  .about-pic-achievements {
    font-size: 15px;
  }
}

@media (width <= 860px){
  .home-pic {
    width: 21em;
  }
  .home-hero-subheader{
    font-size: 16px;
  }
}

@media (width <= 768px){
  .nav-menu {
    display: none;
  }
  
  .nav-logo {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
  }

  .nav-logo:hover {
    background-color:hsla(267, 84%, 81%, 0.226);
    color: hsl(0, 0%, 100%);
  }

  .nav-logo-layout{    
    gap: 0.5em;
  }

  .nav {
    background-color: hsla(267, 72%, 37%, 0.699);
    backdrop-filter: blur(12px);
  }
  
  .home-hero-header {
    flex-direction: column;
    margin-bottom: 45px;
    padding-top: 5em;
    min-height: 0px;
  }

  .home-pic {
    margin-top: 1px;
    width: 25em;;
  }

  .about-column-gap {
    column-gap: 2em;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 2em;
    margin: 0em 0em;
  }

  .about-pic-achievements{
    margin: 0em 1.5em;
  }
  
  .about-pic-message {
    max-width: 42em;
  }

  .about-message-scroll {
    overflow-y: visible; 
    max-height: 100%;
  }

  .about-pic {
    width: 17em;
  }

  .exp-margin {
    margin: 0em 3em;
  }

  .skills-icon {
    padding-bottom: 15px;
    height: 6em;
    width: 6em;
  }

  .modal-image {
    max-width: 100%;
    height: auto;
    width: 20em;
  }

  .contact-layout {
    display: flex;
    flex-direction: column-reverse;
    gap:2em;
  }

  .form-layout {
    max-width: 100%;
  }

  .resume-layout{  
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
  }  
}

@media (max-width: 768px) {
  body {
      background-attachment: scroll;
  }
}

@media (orientation: portrait){
  .modal-message{
    font-size: 2vh;
  }
}

@media (orientation: landscape){
  .modal-message{
    font-size: 2vw;
  }
}

@media (width <= 630px){
  .image-container {
    width: 100%;
  }
  .projects-margin {
    margin: 0em 0em;
}
}

@media (width <= 624px){
  .exp-margin {
    margin: 0em 0em;
  }
}

@media (width <= 543px){
  .home-hero-subheader {
    font-size: 15px;
  }
  .home-pic{
    width: 20em;
  }
}

@media (width <= 496px){
  .skills-icon {
    height: 5em;
    width: 5em;
  }
  .exp-column-gap {
    gap: 1em;
  }
}

@media (width <= 459px){
  .form-email-layout {
    flex-wrap: wrap;
  }
}

@media (width <= 429px){
  .experience-work-layout {
    padding: 1em;
}
}

@media (width <= 424px){
  .about-pic {
    width: 15em;
  } 
  .about-column-gap {
    margin: 0em 0em;
  }

  .about-margin{
    margin: 0em 0em;
  }

  .about-pic-achievements {
    margin: 0em 0em;
  }
}

@media (width <= 410px){
  .home-pic{
    width: 15em;
  }
}

@media (width <= 400px){
  .h2{
    font-size: 3em;
  }  
  .experience-work-font-size{
    font-size: 0.75em;
    text-align: left;
  }
  .about-pic-message-padding{
    font-size: 0.8em;
  }
  .about-pic-list{
    font-size: 0.9em;    
  }
  .form-message{    
    font-size: 0.9em; 
  }
}

@media (width <= 388px){
  .home-hero-heading{
    font-size: 3em;
  }
  .home-hero-subheader {
    font-size: 13px;
  }
}

@media (width <= 352px){  
  .section-header {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.7em;
  } 
  
  .skills-icon {
    height: 4em;
    width: 4em;
  }
  .exp-column-gap {
    gap: 1em;
  }
}

@media (width <= 393px){
  .email-layout {
    font-size: 14.5px;
  }
}

@media (width <= 342px){
  .resume-message{
    margin: 2em;
  }
}

@media (width >= 769px){
  .nav-toggle {
    display: none;
  }
}

@media (width: 768px) and (height: 1024px){
  .home-hero-header{
    padding-top: 12em;
  }
}

@media (width: 344px) and (height: 882px){
  .home-hero-header{
    padding-top: 12em;
  }
}

@media (width: 1280px) and (height: 800px){
  .home-hero-header{
    padding-top: 2em;
  }
}